header{
    position: fixed; top: 5px; left: 5px;
}

#login{
    position: absolute; top: 10px; right: 10px;
}

footer{
    position: absolute; bottom: 0px; left: 45%;
}

#loginSuccess{
    position: absolute; right: 45%; top: 45%;
}

input[ type = button ]{
    margin-left: 6px;
}